<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="center">

<div class="card">
    <h2>Iniciar sesión</h2>

    <form th:action="@{/auth/login}" method="post">
        <div class="field">
            <label>Usuario</label>
            <input type="text" name="username" required>
        </div>

        <div class="field">
            <label>Contraseña</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit">Entrar</button>
    </form>

    <p class="error" th:if="${error}" th:text="${error}"></p>

    <div class="info">
        <p><strong>Usuarios de prueba:</strong></p>
        <p>admin / admin</p>
        <p>usuario / usuario</p>
    </div>
</div>

</body>

</html>
